.boxAlert{
    padding: 30px 20px;
    width: 300px;

    position: fixed;
    top: 0px;
    left: 50%;
    z-index: 2;

    background-color: var(--color-bg-2);
    font: normal 600 .9em var(--font);
    color: var(--color-2);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    
    transform: translate(-50%, -100%);
    transition: all .3s ease;
}

.error{
    background-color: #ffcdd2;
    color: #b71c1c;
}

.success{
    background-color: #c8e6c9;
    color: #2e7d32;
}

.fade{
    transform: translate(-50%, 0px);
}