.header{
    width: 100%;

    padding: 15px 10px;

    position: fixed;
    top: 0px;

    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-items: left;
    gap: 10px;

}

.header div{
    justify-self: flex-end;
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
    align-items: center;
}

.header .logo{
    width: 40px;
}

.theme_buttom{
    cursor: pointer;

    width: 40px;
    height: fit-content;

    border: 2px solid var(--color-1);
    border-radius: 100px;
}
.theme_buttom:focus{
    outline: none;
}
.theme_buttom:focus-visible{
    outline: 1px solid var(--color-main-2);
}

.theme_buttom circle{
    fill: var(--color-1);
}


@media screen and (min-width: 481px){
    .theme_buttom:hover{
        border-color: var(--color-main-2);
    }
    .theme_buttom:hover circle{
        fill: var(--color-main-2);
    }
}


.theme_buttom:active{
    border-color: var(--color-main-1);

    transition: all .1s ease;
}
.theme_buttom:active circle{
    fill: var(--color-main-1);

    transition: all .1s ease;
}