.link{
    font: normal normal 1em var(--font);
    color: var(--color-2);
}

@media screen and (min-width: 481px) {
    .link:hover{
        color: var(--color-main-2);
    }
}

.link:active{
    color: var(--color-main-1);

    transition: all .1s ease;
}